.body{
    height: 750px;
    background-color: #222;
}
.bodyStuff{

     position: absolute;
    color: white;
    top: 267px;
    left: 258px;
}
@media only screen and (min-width: 150px) and (max-width: 750px){
    .body{
        height: 550px;
    }
    .BodyText{
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 50%;
    width: 70%;
    left:15%;
    }
    .BodyText_1{
        color: white;
        text-align: center;
        font-size: 20px;
    }
    .BodyText_DesProd{
        color: #426cb4;
    }
}